*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{scroll-behavior:smooth}
body{
    height : 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.card-details {
    display : none;
}

.card:hover .card-details {
    display : flex;
}

.dropdown:hover .dropdown-content{
    display : block;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}